<h1>This is the page for testing flexbox</h1>
<div class='menu-container'>
    <div class='menu'>
        <div class='date'>Aug 14, 2019</div>
        <div class='signup'>Sign Up</div>
        <div class='login'>Login</div>
    </div>
</div>
