<div class='menu-container'>
    <div class='menu'>
        <div class='date'>Aug 14, 2019</div>
        <div class="link">
            <div class='signup'><a href="#">Sign Up</a></div>
            <div class='login'><a href="#">Sign In</a></div>
        </div>
    </div>
</div>
<div class="header-container">
    <div class="header">
        <div class="subscribe">
            Subscribe &#9662;
        </div>
        <div class="logo">Subscribe type</div>
        <div class="share">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
    </div>
</div>
